body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Helvetica Neue";
}

header {
    display: flex;
    justify-content: center;
}
header .logo img {
    height: 400px;
    margin: 1rem;
}
.info-wrapper {
    display: flex;
    justify-content: space-evenly;
    color: #358580;
}
.info-wrapper p {
    margin: 0.2rem;
}
.personal-wrapper {
    margin: 2rem 0 2rem 0;
    display: grid;
    grid: 50vh 50vh/1fr 1fr;
    gap: 20px;
}
.personal-wrapper article {
    padding: 1rem;
}

.daniel {
    display: grid;
    grid: auto 1fr / 1fr 1fr;
    grid-template-areas:    "daniel-img daniel-heading"
                            "daniel-img daniel-text"
}

#daniel-img {
    grid-area: daniel-img;
    height: 100%;
}